/*Dashboard->geral->visualizar*/
.title-chart{
  font-family: Helvetica;
  font-size: 20px;
  font-weight: bold;
}
.number-chart{
  font-family: Helvetica;
  font-size: 80px;
  font-weight: bold;
  margin-bottom:0%;
}
